@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;&display=swap');

@font-face {
	font-family: 'Lato';
    src: url('/app/themes/aeos-auctions-naked/dist/fonts/Lato-Regular.ttf') format('truetype');
    font-weight:  400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

$primary-font: 'Lato', sans-serif;